@using Microsoft.VisualBasic.CompilerServices
@using System.Reflection.Metadata
@using FPT_BOOKMVC.Utils
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<FPT_BOOKMVC.Models.Category>;
@{
    //if user current false then user current have role admin -> {run} 
}

<h1>List Of Approved Categories</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Is Approved</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>@category.IsApproved</td>
                <td>
                    @if (!category.IsApproved && User.IsInRole(SD.AdminRole))
                    {
                        <form method="post" action="@Url.Action("Approve", new { id = category.CategoryId })">
                            <button type="submit" class="btn btn-primary">Approve</button>
                        </form>
                        <form method="post" action="@Url.Action("Reject", new { id = category.CategoryId })">
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </form>
                    }
                </td>
                <td><a href="ViewCategory/@category.CategoryId" class="btn btn-outline-success">View</a></td>
            </tr>
        }
    </tbody>
</table>