@model  ﻿List<FPT_BOOKMVC.Models.OrderDetail>
@{
	Layout = "_Layout3";
}
<h1>History Was You Ordered</h1>
<table class="table">
	<thead>
	<tr>
		<th>OrderId</th>
		<th>Customer Name</th>
		<th>OrderDetailId</th>
		<th>Book Name</th>
		<th>Ordered Quantity</th>
		<th>Total Price</th>
			
	</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Order.OrderId</td>
				<td>@item.Order.User.Name</td>
				<td>@item.OrderDetailId</td>
				<td>@item.Book.Name</td>
				<td>@item.Quantity</td>
				<td>@item.Total</td>
			</tr>
			
		}
	</tbody>
</table>
		<a class="btn btn-primary" asp-area="Authenticated" asp-controller="Book" asp-action="BookProduct" > Back To List</a>
<p class="mt-5">
	Thank You Will Use My Sevice - Please Contact hotline: +84 0372 713 679 or email: GroupDevelopment@example.com - For Support - Thank You
</p>
